@model IEnumerable<Model.Categoria>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

    <div class="col-md-3">
        <div>
            <a href="#" class="list-group-item active">
                Menu do Usuário
            </a>
            <ul class="list-group">

                <li class="list-group-item">

                    @Html.ActionLink("Meus dados", "Details", "Usuario")

                </li>
                <li class="list-group-item">
                    <a href="#">Modificar dados</a>

                </li>

                <li class="list-group-item">
                    <a href="#">Segurança</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Saldo</a>

                </li>
            </ul>
        </div>
        <!-- /.div -->
        <div>
            <a href="#" class="list-group-item active list-group-item-success">
                Compras
            </a>
            <ul class="list-group">

                <li class="list-group-item">
                    <a href="#">Compras</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Perguntas</a>

                </li>

            </ul>
        </div>
        <!-- /.div -->
        <div>
            <a href="#" class="list-group-item active">
                Vendas
            </a>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#">Anúncios</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Vendas</a>

                </li>
                <li class="list-group-item">
                    <a href="#">Perguntas</a>

                </li>
            </ul>
        </div>

    </div>
    <div class="col-md-9">

        <div class="row">

            <div class="col-md-10">
                <h3><strong>Categorias</strong></h3>

                <hr>

                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <hr>
                            <div class="row">

                                @foreach (var item in Model)
                                {
                                    <div class="col-md-3 text-center col-sm-4 col-xs-4">
                                        <div class="thumbnail product-box">
                                            
                                            <div class="caption">
                                                <p><strong>@Html.DisplayFor(modelItem => item.CodCategoria)</strong>  </p>
                                                <h5><a href="#">@Html.DisplayFor(modelItem => item.Nome)</a></h5>
                                                @using (Html.BeginForm("Details", "Categoria", new { id = item.CodCategoria }))
                                                {
                                                    <button type="submit" class="btn btn-primary">Ver detalhes</button>
                                                }
                                                @using (Html.BeginForm("Delete", "Categoria", new { id = item.CodCategoria }))
                                                {
                                                    <button type="submit" class="btn btn-danger">Apagar</button>
                                                }
                                                @using (Html.BeginForm("Edit", "Categoria", new { id = item.CodCategoria }))
                                                {
                                                    <button type="submit" class="btn btn-warning">Editar</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="col-md-3">
                                @using (Html.BeginForm("Create", "Categoria", FormMethod.Get))
                                {
                                    <button type="submit" class="btn btn-primary">Criar novo anúncio</button>
                                }
                            </div>
                            <div class="col-md-3">
                                @using (Html.BeginForm("Details", "Categoria", FormMethod.Get))
                                {
                                    <button type="submit" class="btn btn-primary">Detalhes</button>
                                }
                            </div>
                            <div class="col-md-3">
                                @using (Html.BeginForm("Edit", "Categoria", FormMethod.Get))
                                {
                                    <button type="submit" class="btn btn-primary">Editar</button>
                                }
                            </div>
                            <div class="col-md-3">
                                @using (Html.BeginForm("Delele", "Categoria", FormMethod.Get))
                                {
                                    <button type="submit" class="btn btn-primary">Apagar</button>
                                }
                            </div> 
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <a asp-action="Create">Cadastrar nova Categoria</a>
<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.CodCategoria  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.CodCategoria }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.CodCategoria })
            </td>
        </tr>
}
    </tbody>
</table>
    -->
