@model Model.Anuncio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Anuncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodAnuncio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodAnuncio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantAnunciada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantAnunciada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuantDisponivel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantDisponivel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CodUsuario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodUsuario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Msg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Msg)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
